body {
    font-family: "Roboto", sans-serif !important;
}

form {
    margin: 0 !important;
}

.control-group {
    margin-bottom: 0px !important;
    border-bottom: 1px solid #E2E2E2;
}

.control-group .control-label {
    color: #868484;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 0px !important;
}

label {
    margin-bottom: 0px !important;
}

label.error {
    color: red;
    font-size: 12px;
    font-weight: 600;
}

input {
    padding: 0px !important;
    height: 26px !important;
    border: none !important;
    color: #383838 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding-bottom: 10px !important;
}

input[type="tel"] {
    margin-bottom: 0px !important;
}

input[type="tel"]::placeholder {
    content: '    -' !important;
    color: #ABABAB !important;
}

input[type="tel"]:focus::placeholder {
    color: white !important;
}

.control-group.payment_form-mh {
    display: block !important;
}

.control-group.payment_form-mh #expiry-date {
    width: 100% !important;
}

body.payment input.payment-input {
    width: 100% !important;
}

.control-group.payment_form-mh #security-code {
    width: 100% !important;
}

.control-group.payment_form-mh #security-code div {
    float: none !important;
}

.row-fluid div.span4 {
    padding: 0px !important;
}
