.control-group {
    margin-bottom: 0px !important;
}

.control-group .control-label {
    color: #868484;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

label .error {
    color: red;
    font-size: 12px;
    font-weight: 600;
}

.control-group.payment_form-mh {
    display: block !important;
}

.control-group.payment_form-mh #expiry-date {
    width: 100% !important;
}

body.payment input.payment-input {
    width: 100% !important;
}

.control-group.payment_form-mh #security-code {
    width: 100% !important;
}

.control-group.payment_form-mh #security-code div {
    float: none !important;
}
